:root {
  color-scheme: light dark;
}

body {
  padding: 40px;
  font-family: sans-serif;
  line-height: 1.4em;
  color: light-dark(black, white);
  background-color: light-dark(white, black);
}

main {
  max-width: 65ch;
  margin: auto;
}

h1,
h2 {
  line-height: 1.2em;
}
