:root {
  color-scheme: light dark;
}

body {
  padding: 20px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
  color: light-dark(black, white);
  background-color: light-dark(white, black);
}

main {
  max-width: 65ch;
  margin: auto;
}

h1,
h2 {
  line-height: 1.2em;
}

a.heading-anchor {
  margin-left: 5px;
  text-decoration: none;
  color: #eee;

  &:hover {
    color: blue;
  }
}
