:root {
  color-scheme: light dark;
}

:root {
  --color-bg: light-dark(white, black);
  --color-text: light-dark(black, white);
  --color-link: blue;
  --color-silver: #eee;
}

body {
  padding: 20px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  max-width: 65ch;
  margin: auto;
}

h1,
h2 {
  line-height: 1.2em;
}

a.heading-anchor {
  margin-left: 5px;
  text-decoration: none;
  color: var(--color-silver);

  &:hover {
    color: var(--color-link);
  }
}

.table-of-contents {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
