body {
    font: 16px/24px 'Helvetica Neue', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
}

input[type="text"], input[type="password"] {
    margin-bottom: 2ex;
    font-size: 100%;
    color: gray;
}

.output {
    margin-top: 2ex;
}

small {
    color: gray;
}
